## IDE
.vscode
.idea
notebook/.ipynb_checkpoints/

## cache
__pycache__

## directory for artifact
dist/

## temporary working directory
tmp/

## logging
training/logs/*
training/tmp_checkpoint
emo_classifier/resources/training